<div class="container">

  <div class="row mt-5">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8  mx-auto">
      <div class="card text-center shadow">
        <div class="card-header">
          Upload Fundus Image
        </div>
        <div class="card-body">
          <input #fileInput type="file" accept="image/*" [(ngModel)]="change" (change)="onFileSelected($event)" style="display: none;">
          <div id="upload" (click)="fileInput.click()" class="mb-2">
            <fa-icon id="uploadIcon"[icon]="uploadIcon"></fa-icon>
          </div>
          <div>
            <button class="btn btn-primary"style="width:100%;"(click)="uploadFile()">Upload</button>
          </div>
        </div>
        <div class="card-footer text-body-secondary">
          <p class="mb-2">{{ selectedFiles == null ? info : selectedFiles[0].name}}</p>
          <div class="position-relative">
            <img *ngIf="selectedFiles" [src]="base64Image" style="width: 100%;" alt="Selected File">
            <fa-icon *ngIf="selectedFiles" (click)="removeFile()" class="position-absolute" id="timesIcon" [icon]="timesIcon"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<!-- 
  <div class="position-relative">
    <img *ngIf="uploadedFile" [src]="base64Image2" style="width: 100%;" alt="Selected File">
  </div> -->
  <div *ngIf="status" class="d-flex justify-content-center text-primary mt-3">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="row  mt-2">
    <div class="col-6 mx-auto">
      <div *ngIf="message" class="alert alert-warning text-center" role="alert">
        {{ message }}
      </div>
    </div>
  </div>

  <div class="container mt-4 mb-4">
    <div class="row justify-content-center">
      <div class="col-md-4 p-2">
        <div class="card h-100 shadow text-center">
          <img src="../../../assets/select-image-icon.png" class="card-img-top mx-auto p-4" alt="Enter the url">
          <div class="card-body mb-4">
            <h5 class="card-title">Select the Fundus Image</h5>
            <p class="card-text mt-3">Select the fundus image on your local computer and prepare it to upload to the system.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-2">
        <div class="card shadow text-center">
          <img src="../../../assets/click-icon.png" class="card-img-top mx-auto p-4" alt="Click the button">
          <div class="card-body mb-4">
            <h5 class="card-title">Click the Upload Button</h5>
            <p class="card-text mt-3">By clicking the button, upload the fundus image to the system and make a prediction with the artificial intelligence model trained on diabetic retinopathy disease.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-2">
        <div class="card h-100 shadow text-center">
          <img src="../../../assets/wait-icon.png" class="card-img-top mx-auto p-4" alt="Wait for response">
          <div class="card-body mb-4">
            <h5 class="card-title">Wait for Response</h5>
            <p class="card-text mt-3">Wait a short while for the model to make its prediction to see the results on the next page.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
